{% extends 'base.html.twig' %}

{% block title %}Nos missions - Russian KGB{% endblock %}

{% block body %}
	<!-- Heading -->
	<div id="heading">
		<h1>Nos missions</h1>
	</div>

	<!-- Main -->
	<section id="main" class="wrapper">
		<div class="inner">
			<div class="content">
				<h2>Комитет государственной безопасности</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quo voluptatibus corrupti minima sunt reiciendis facere at molestiae, sequi nobis odio quos magnam labore laborum unde ratione! Sapiente explicabo tenetur nobis perspiciatis provident soluta, adipisci atque. Vitae, nisi amet laboriosam facere itaque ducimus sequi praesentium accusantium inventore omnis laborum quos consequatur maxime assumenda ex sit, necessitatibus nihil. Eaque ab quasi dolorum neque quaerat repudiandae. Dolorem tempore dolores nostrum? Nesciunt repellat, dolorum omnis qui excepturi voluptas amet temporibus quae quos eius nemo doloremque saepe quibusdam illo repudiandae maxime numquam aut nihil, cupiditate tempora quam ad? Dicta iure repellendus voluptatibus nisi cum.</p>
			</div>
		</div>
	</section>
{% endblock %}
