{% extends 'base.html.twig' %}

{% block title %}Nos missions - Russian KGB{% endblock %}

{% block body %}
	<!-- Heading -->
	<div id="heading">
		<h1>Nos missions</h1>
	</div>

	<!-- Main -->
	<section id="main" class="wrapper">
		<div class="inner">
			<header class="special">
				<h2>Liste des missions en préparation</h2>
				<h3 style="text-align:center">Комитет государственной безопасности</h3>
			</header>
			<div class="content">
				
			</div>
			<div class="highlights">
					<section>
						<div class="content">
							
						</div>
					</section>
			</div>	
		</div>
	</section>
{% endblock %}
