@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/grid';
@import 'libs/flexgrid';
@import url(font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600');

/*
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

// Breakpoints.
	@include breakpoints((
		default:   (1681px,   null     ),
		xlarge:    (1281px,   1680px   ),
		large:     (981px,    1280px   ),
		medium:    (737px,    980px    ),
		small:     (481px,    736px    ),
		xsmall:    (361px,    480px    ),
		xxsmall:   (null,     360px    )
	));

// Color.
	@mixin color($p) {
		@include color-typography($p);
		@include color-button($p);
		@include color-form($p);
		@include color-list($p);
		@include color-table($p);
		@include color-highlights($p);
		@include color-testimonials($p);
	}

// Base.
	@import 'base/page';
	@import 'base/reset';
	@import 'base/typography';

// Component.
	@import 'components/inner';
	@import 'components/button';
	@import 'components/form';
	@import 'components/list';
	@import 'components/table';
	@import 'components/highlights';
	@import 'components/testimonials';
	@import 'components/actions';
	@import 'components/grid';
	@import 'components/icon';
	@import 'components/icons';
	@import 'components/image';
	@import 'components/wrapper';

// Layout.
	@import 'layout/banner';
	@import 'layout/cta';
	@import 'layout/footer';
	@import 'layout/header';
	@import 'layout/heading';
	@import 'layout/main';
	@import 'layout/menu';

// CSS perso
.special, .content header {
	background-color: transparent !important;
	color: #222 !important;
}
.actions.stacked > li > a {
	padding: 0 !important;
}
.form-buttons-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
// images
.logo-kgb {
	background: url(../../images/logo-kgb.png) no-repeat;
	background-position: center;
	&.top {
		background-position-y: 3rem;
	}
}
.logo-image-kgb {
	background: url(../../images/image-logo-kgb.jpg) center no-repeat;
}
// table
.table-title {
	border-bottom: 2px solid #a8a8a8;
  margin-bottom: 1rem;
}
.button.small.icon:before {
	margin-right: 0;
	font-size: 16px;
}
// pagination
.pagination {
	display: flex;
	justify-content: center;
	& .first, .last, .page, .next, .previous, .current {
		@include vendor('appearance', 'none');
		@include vendor('transition', (
			'background-color #{_duration(transition)} ease-in-out',
			'box-shadow #{_duration(transition)} ease-in-out',
			'color #{_duration(transition)} ease-in-out'
		));
		border: 0;
		border-radius: _size(border-radius);
		display: flex;
		align-items: center;
		font-weight: _font(weight-bold);
		line-height: 1;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
		font-size: 0.8rem;
		padding: 0.5rem;
		margin: 0.5rem 0.25rem;
	}
	& .first, .last, .page, .next, .previous {
		cursor: pointer;
		box-shadow: none;
		background-color: #ce1b28;
		text-decoration: none;
		& >a {
			color: #fff !important;
		}
		&:hover {
			background-color: lighten(#ce1b28, 5);
			box-shadow: none;

			&:active {
				background-color: darken(#ce1b28, 5);
			}
		}
	}
	.current {
		background-color: transparent;
    -webkit-box-shadow: inset 0 0 0 1px #555555;
    box-shadow: inset 0 0 0 1px #555555;
    color: #555555 !important;
	}
}
// sidebar
.sidebar {
	padding-right: 1rem;
  padding-top: 0.5rem;
  box-shadow: 3px 0px 3px #ccc;
}
// Alert
.alert {
	text-align: center;
	padding: 1rem;
	border-radius: 5px;
	margin-bottom: 1rem;
	&.alert-success {
		background-color: #5cb85c;
		border: 1px solid #3c763d;
		color: #dff0d8;
		box-shadow: 0px 2px 5px var(--color-success);
	}
	&.alert-danger {
		background-color: #ea272d;
		border: 1px solid #a94442;
		color: #f2dede;
		box-shadow: 0px 2px 5px var(--color-danger);
	}
}
// button sort headers
.headers {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.sort-buttons {
	display: flex;
	flex-direction: column;
	padding-left: 0.3rem;
	line-height: 0.6;
	font-size: 16px;
	&>a {
		color: #555555;
		&:hover {
			text-decoration: none;
			opacity: 0.75;
			transform: scale(1.4);
		}
	}
}
// color statute
input[type="color"] {
	height: 3rem;
	width: 3rem;
	cursor: pointer;
	border-radius: 4px;
	margin-bottom: 2rem;
	&:focus {
		border: 1.5px solid #ce1b28;
    box-shadow: 0 0 0 1px #ce1b28;
		outline: none;
	}
}
.color-display {
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	border: 0.5px solid #555555;
}
span.statute-color {
	width: 0.7rem;
	height: 0.7rem;
	display: inline-block;
	border-radius: 50%;
	box-shadow: inset 1px 1px 2px black;
}
#save {
	display: block;
	max-width: 140px;
}